.env
.env.*
/data/uploads/
/data/mp3/
/data/images/
/sql/*.sql
*.sql
*.log
*.tmp
*.cache
*~
*.bak
*.pid
docker-compose.override.yml
.DS_Store
Thumbs.db
.vscode/
.idea/
vendor/
node_modules/
composer.phar
/.phpunit.result.cache
/build/
/coverage/
arrasgo_deploiement_info.json