# Fichiers/dossiers sensibles ou générés
.env
/data/uploads/
/data/mp3/
/data/images/
/sql/*.sql
*.log
*.tmp
*.cache
*~
*.bak

# Docker
*.pid
docker-compose.override.yml

# Système
.DS_Store
Thumbs.db

# VS Code
.vscode/
arrasgo_deploiement_info.json

# Dépendances (désactivé car non utilisé)
# /vendor/
# /node_modules/