/* Tableaux */
table {
  border-collapse: collapse;
  table-layout: auto;
  width: auto;
}

th,
td {
  padding: 8px 16px;
  vertical-align: middle;
  word-break: break-word;
}

th {
  background: #1d1d1d;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

th {
  font-size: 14px;
  background: #1d1d1d;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

td img,
td audio {
  max-width: 100px;
  max-height: 80px;
  display: block;
}

@media (max-width: 1024px) {
  table {
    display: block;
    /* overflow-x: auto; */
    /* white-space: nowrap; */
  }
}
