.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* Limite la taille des images dans le tableau des étapes */

.tab-img,
.tab-indice-img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

/* Limite la taille de l'audio dans le tableau des étapes */
.tab-audio {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

/* Boutons d'action dans le tableau des étapes */
.tab-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 600px) {
  .tab-actions {
    /* flex-direction: row; */
    align-items: center;
    gap: 6px;
  }
}
table {
  border-collapse: collapse;
  table-layout: auto;
  width: auto;
  border-spacing: 8px;
  border-collapse: separate;
}

th,
td {
  padding: 8px;
  vertical-align: middle;
  word-break: break-word;
  max-width: 250px;
}

th {
  background: #1d1d1d;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}
td {
  border: 1px solid #1d1d1d;
}

td img,
td audio {
  max-width: 100px;
  max-height: 100px;
  display: block;
}

@media (max-width: 1280px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }

  tbody {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  @media (min-width: 600px) and (max-width: 1280px) {
    tbody {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  tr {
    display: block;
    border: 1px solid #1d1d1d;
    border-radius: 8px;
    padding: 8px;
  }

  td {
    display: block;
    padding: 8px 6px;
    border: none;
    border-bottom: 1px solid #eee;
    word-break: break-word;
  }

  td:last-child {
    border-bottom: none;
  }

  td::before {
    content: attr(data-label);
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #1d1d1b;
    font-size: 14px;
    padding: 4px;
    margin-bottom: 8px;
  }
}
